---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../icons/Linkedin.astro';
import Descarga from '../icons/Descarga.astro';
import Mail from '../icons/Mail.astro';
import Github from '../icons/Github.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Titulo from '../components/Titulo.astro';
import Html from '../icons/Html.astro';
import Css from '../icons/Css.astro';
import JavaScript from '../icons/JavaScript.astro';
import Educacion from '../icons/Educacion.astro';
import CardEducation from '../components/CardEducation.astro';
import Galeria from '../components/Galeria.astro';
import Mi from '../icons/Mi.astro';
import Js from '../icons/Js.astro';
import Phtml from '../components/Phtml.astro';
import Bostrap from '../icons/Bostrap.astro';
import Conocimientos from '../components/Conocimientos.astro';
import Habilidades from '../icons/Habilidades.astro';
import Formulario from '../components/Formulario.astro';
import Contacto from '../icons/Contacto.astro'
import React from '../icons/React.astro';
import Tailwind from '../icons/Tailwind.astro';
import Astroicono from '../icons/Astroicono.astro';
---

<Layout title="Portafolio de Juan Pablo Medina - Desarrollador front end">
	
	<main class="px-4">
		<img src="traje.png" alt="Imagen detr谩s de todo" class="absolute inset-0 object-cover z-[-1] fade-bottom" />

		<SectionContainer  id="Top" class="py-52">
		    <h1 class="text-white text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-10">
			Juan Pablo Medina<a
			    href="https://www.linkedin.com/in/juan-pablo-medina-199b3b2b4/"
			    target="_blank"
			    rel="noopener"
			    class="flex justify-center items-center">
				<Badge >Disponible para trabajar</Badge>
			    </a>
		    </h1>
		    <h2 class="text-xl lg:text-2xl text-wrap">Desarrollador Web Front-End de C贸rdoba, Argentina. Enfocado en crear experiencias web modernas.</h2>
			
			<nav class="flex gap-x-4 mt-7 flex-wrap">
				<Card href="cv-juanpablomedina.pdf" target="_blank" className="card">
					<Descarga className="w-6 h-6" />
					Curriculum
				</Card>
				<Card href="https://www.linkedin.com/in/juan-pablo-medina-199b3b2b4/" class="card">
				  <Linkedin class="w-6 h-6" />
				  Linkedin
				</Card>
				<Card href="https://github.com/juampimedina06" class="card">
				  <Github class="w-6 h-6"/>
				  GitHub
				</Card>
				<Card href="mailto:jpmedinagomez1@gmail.com" class="card">
				  <Mail />
				  jpmedinagomez1@gmail.com
				</Card>
			  </nav>
			  
        </SectionContainer>

		<SectionContainer id="Proyectos">
            <Titulo titulo="Proyectos">
				<JavaScript />
			</Titulo>

			<Galeria
                    github="https://github.com/juampimedina06/aluraflix"
					href="https://aluraflix-eight-sage.vercel.app/"
			        imagen="proyecto-aluraflix.png" 
			        titulo="Aluraflix - Pagina para ver peliculas" 
					informacion="proyecto final del curso de alura, donde se implemento una pagina web para ver peliculas, con un buscador y un reproductor de video."
			>

			<div class="contenedor_lenguajes" slot="contenido-galeria">
				<Phtml lenguaje="Html">
					<Html class="w-6"/>
				</Phtml>
				<Phtml lenguaje="Css">
					<Css class="w-6" />
				</Phtml>
				<Phtml lenguaje="JavaScript">
					<Js class="w-6" />
				</Phtml>
				<Phtml lenguaje="React">
					<React class="w-6" />
				</Phtml>
			</div>
			</Galeria>

			<Galeria
            github="https://github.com/juampimedina06/doguito"
					href="https://doguito-nine.vercel.app/"
			        imagen="proyecto-doguito.png" 
			        titulo="Doguito - Pagina sobre animales" 
					informacion="Implemente componentes de React para manejar los datos y la presentaci贸n, utilizando el estado para gestionar la informaci贸n mostrada.."
			>

			<div class="contenedor_lenguajes" slot="contenido-galeria">
				<Phtml lenguaje="Html">
					<Html class="w-6"/>
				</Phtml>
				<Phtml lenguaje="Css">
					<Css class="w-6" />
				</Phtml>
				<Phtml lenguaje="JavaScript">
					<Js class="w-6" />
				</Phtml>
				<Phtml lenguaje="React">
					<React class="w-6" />
				</Phtml>
			</div>
			</Galeria>

			<Galeria
            github="https://github.com/juampimedina06/org"
					href="https://org-delta-bay.vercel.app/"
			        imagen="proyecto-org.png" 
			        titulo="org - Pagina para org equipo" 
					informacion="ORG pagina dise帽ada para organizar y gestionar equipos de trabajo de manera eficiente."
			>

			<div class="contenedor_lenguajes" slot="contenido-galeria">
				<Phtml lenguaje="Html">
					<Html class="w-6"/>
				</Phtml>
				<Phtml lenguaje="Css">
					<Css class="w-6" />
				</Phtml>
				<Phtml lenguaje="JavaScript">
					<Js class="w-6" />
				</Phtml>
				<Phtml lenguaje="React">
					<React class="w-6" />
				</Phtml>
			</div>
			</Galeria>

			<Galeria
            github="https://github.com/juampimedina06/mercado-libre-week-"
					href="https://mercado-libre-week.vercel.app/"
			        imagen="mercado-week.png" 
			        titulo="Mercado-week - challengue de alura" 
					informacion="Mercado Week es una p谩gina web inspirada en Mercado Libre, creada como parte del desaf铆o Alura Week. Utiliza HTML, CSS y JavaScript, con una API fake para gestionar productos."
			>

			<div class="contenedor_lenguajes" slot="contenido-galeria">
				<Phtml lenguaje="Html">
					<Html class="w-6"/>
				</Phtml>
				<Phtml lenguaje="Css">
					<Css class="w-6" />
				</Phtml>
				<Phtml lenguaje="JavaScript">
					<Js class="w-6" />
				</Phtml>
			</div>
			</Galeria>

			<Galeria 
			        href="https://juampimedina06.github.io/obtener-clima/"
			        github="https://github.com/juampimedina06/obtener-clima"
			        imagen="proyecto-clima.png" 
			        titulo="Obtener clima del Pais - API" 
					informacion="aplicaci贸n interactiva que consulta una API de clima en tiempo real, proporcionando datos precisos como temperatura, condiciones meteorol贸gicas y pron贸sticos..">

					<div class="contenedor_lenguajes" slot="contenido-galeria">
                        <Phtml lenguaje="Html">
							<Html class="w-6"/>
						</Phtml>
						<Phtml lenguaje="Css">
							<Css class="w-6" />
						</Phtml>
                        <Phtml lenguaje="JavaScript">
							<Js class="w-6" />
						</Phtml>
					</div>
			</Galeria>

			<Galeria
			        github="https://github.com/juampimedina06/portafolio-personal"
					href="https://portafolio-juan-pablo-medina.netlify.app/"
			        imagen="proyecto-portafolio.png" 
			        titulo="Portafolio personal" 
					informacion="Mi portafolio web es un proyecto desarrollado con Astro y Tailwind, dise帽ado para destacar mis habilidades como desarrollador front-end. Incluye una interfaz limpia y responsive, donde presento mis proyectos, experiencia y formaci贸n">

					<div class="contenedor_lenguajes" slot="contenido-galeria">
                        <Phtml lenguaje="Html">
							<Html class="w-6"/>
						</Phtml>
						<Phtml lenguaje="Css">
							<Css class="w-6" />
						</Phtml>
						<Phtml lenguaje="Astro">
							<Astroicono class="w-8 h-6" />
						</Phtml>
						<Phtml lenguaje="Tailwind">
							<Tailwind class="w-8 h-6" />
						</Phtml>
					</div>
			</Galeria>

		</SectionContainer> 

		<SectionContainer id="SobreMi">
			<Titulo titulo="SobreMi">
                <Mi />
			</Titulo>
			
			<div class="sobre-mi">
				<p>
				  <span>Soy Juan Pablo Medina</span>, nacido en C贸rdoba, Argentina . Me dedico al 
				  <span>desarrollo front-end</span> y actualmente estoy en plena formaci贸n con 
				  <span>Oracle en Alura Latam</span>, donde sigo perfeccionando mis habilidades. 
				  Empec茅 mi camino en la programaci贸n con <span>JavaScript</span>, <span>HTML</span> 
				  y <span>CSS</span>, pero hoy trabajo con herramientas modernas como <span>Astro</span> 
				  y <span>React</span> para crear experiencias web din谩micas y eficientes. 
				</p>
				<p>
				  Siempre estoy dispuesto a <span>tomar riesgos</span> y <span>aprender algo nuevo</span>, 
				  lo que me permiti贸 crecer r谩pidamente y enfrentar desaf铆os t茅cnicos en proyectos diversos. 
				  Adem谩s, tengo una <span>mentalidad proactiva</span> y me encanta trabajar en equipo, 
				  sabiendo que la <span>colaboraci贸n</span> es clave para lograr grandes resultados.
				</p>
				<p>
				  En este momento, estoy enfocado en seguir mejorando mis habilidades como desarrollador, 
				  buscando <span>proyectos desafiantes</span> que me permitan aplicar lo aprendido y seguir 
				  creciendo en este apasionante mundo del <span>desarrollo web</span>.
				</p>
			  </div>
			  
		</SectionContainer>

		<SectionContainer id="Habilidades">
			<Titulo titulo="Habilidades">
				<Habilidades class="w-12 h-12" />
			</Titulo>
			<Conocimientos />
		</SectionContainer>
		

        <SectionContainer class="">
			<Titulo titulo="Educacion">
				<Educacion class="w-12" />
			</Titulo>
			<div class="contenedor_educacion">
				<div class="fila_uno">
					<CardEducation 
						academia="Formaci贸n ONE de Alura y Oracle" 
						tiempo="Junio 2024 - Enero 2025" 
						aprendido="L贸gica de programaci贸n. Front-End + (IA), React y Soft Skills." 
						imagen="educacion-alura.png" />
						
					<CardEducation 
						academia="Curso Integral Capacitando" 
						tiempo="Abril 2024 - Agosto 2024" 
						aprendido="Fundamentos de programaci贸n, JAVA orientado a objetos + SQL." 
						imagen="educacion-integral.png" />
				</div>
				<div class="fila_dos">
					<CardEducation 
						academia="Junior Achievement y Microsoft" 
						tiempo="Mayo 2024 - Junio 2024" 
						aprendido="HTML, CSS, Bootstrap, JavaScript + creaci贸n de p谩gina web." 
						imagen="educacion-junior.png" />
						
					<CardEducation 
						academia="Desarrollo en software" 
						tiempo="2025 - 2028" 
						aprendido="intituto tecnido superior de cordoba" 
						imagen="desarrollo-sorfware.png" />
				</div>
			</div>
			
		</SectionContainer>

		<SectionContainer id="Contacto">
			<Titulo titulo="Contacto">
				<Contacto class="w-12 h-12"/>
			</Titulo>
			<Formulario/>
		</SectionContainer>

		
	</main>
</Layout>

<style>

    h1{
	color: #fff;
    }
    h2{
		color: #fff;
	}
	p{
		color: #fff;
	}
	div{
		border: #fff;
	}
	span{
	    color: #fff;
	}

	.contenedor_lenguajes{
        display: flex;
		gap: 1rem;
	}
	
	.fade-bottom {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    top: 7rem;
    left: 36rem;
	width: 39rem;
    }

	.span{
		font-weight: 900;
	}


	@media(max-width: 1000px) {
		.fade-bottom {
	top:8rem;
	left: 20rem;
    }
	}


	@media(max-width:700px){
	.fade-bottom {
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
	    margin: 5rem 0 0 0;
	    top:0;
	    left: 0;
    }

	.fila_uno,
    .fila_dos{
	flex-direction: column;
}

	}

	nav {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en filas si no caben */
  gap: 1rem; /* Espacio entre los elementos, puedes ajustar el valor */
}

.contenedor_educacion{
	display: flex;
	flex-direction: column;
}

.fila_uno,
.fila_dos{
	width: 100%;
	display: flex;
	gap:1rem;
}

.sobre-mi {
    line-height: 1.8;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .sobre-mi p {
    margin-bottom: 1.5rem;
  }

  .sobre-mi span {
    color: rgb(92, 76, 184);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .sobre-mi:hover{
   span {
    color: #a4a3f3; /* Cambia a un naranja al pasar el mouse */
    text-decoration: none;
    transform: scale(1.1);
	text-shadow: none;
  }
}


</style>

