---
import Astroicono from "../icons/Astroicono.astro";
import Css from "../icons/Css.astro";
import Git from "../icons/Git.astro";
import Html from "../icons/Html.astro";
import Js from "../icons/Js.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import Firgmaicono from "../icons/Figmaicono.astro";
import Bostrap from "../icons/Bostrap.astro";
import Sql from "../icons/Sql.astro";
import Github from "../icons/Github.astro";

---

<div>
    <div class="contenedor" >
    <Html class="w-20 h-20 Html" />
    <Css class="w-20 h-20 Css" />
    <Js class="w-20 h-20 Js" />
    <React class="w-20 h-20 React" />
    <Tailwind class="w-20 h-20 Tailwind" />
    <Astroicono class="w-20 h-20 Astroicono" />
    <Git class="w-20 h-20 Git" />
    <Firgmaicono class="w-20 h-20 Figmaicono" />
    <Bostrap class="w-20 h-20 Bostrap" />
    <Sql class="w-20 h-20 Sql" />
    <Github class="w-20 h-20" />
    <Html class="w-20 h-20 Html" />
    <Css class="w-20 h-20 Css" />
    <Js class="w-20 h-20 Js" />
    <React class="w-20 h-20 React" />
    <Tailwind class="w-20 h-20 Tailwind" />
    <Astroicono class="w-20 h-20 Astroicono" />
    <Git class="w-20 h-20 Git" />
    <Firgmaicono class="w-20 h-20 Figmaicono" />
    <Bostrap class="w-20 h-20 Bostrap" />
    <Sql class="w-20 h-20 Sql" />
    <Github class="w-20 h-20" />
    <Html class="w-20 h-20 Html" />
    <Css class="w-20 h-20 Css" />
    <Js class="w-20 h-20 Js" />
    <React class="w-20 h-20 React" />
    <Tailwind class="w-20 h-20 Tailwind" />
    <Astroicono class="w-20 h-20 Astroicono" />
    <Git class="w-20 h-20 Git" />
    <Firgmaicono class="w-20 h-20 Figmaicono" />
    <Bostrap class="w-20 h-20 Bostrap" />
    <Sql class="w-20 h-20 Sql" />
    <Github class="w-20 h-20" />
    <Html class="w-20 h-20 Html" />
    <Css class="w-20 h-20 Css" />
    <Js class="w-20 h-20 Js" />
    <React class="w-20 h-20 React" />
    <Tailwind class="w-20 h-20 Tailwind" />
    <Astroicono class="w-20 h-20 Astroicono" />
    <Git class="w-20 h-20 Git" />
    <Firgmaicono class="w-20 h-20 Figmaicono" />
    <Bostrap class="w-20 h-20 Bostrap" />
    <Sql class="w-20 h-20 Sql" />
    <Github class="w-20 h-20" />
    <Html class="w-20 h-20 Html" />
    <Css class="w-20 h-20 Css" />
    <Js class="w-20 h-20 Js" />
    <React class="w-20 h-20 React" />
    <Tailwind class="w-20 h-20 Tailwind" />
    <Astroicono class="w-20 h-20 Astroicono" />
    <Git class="w-20 h-20 Git" />
    <Firgmaicono class="w-20 h-20 Figmaicono" />
    <Bostrap class="w-20 h-20 Bostrap" />
    <Sql class="w-20 h-20 Sql" />
    <Github class="w-20 h-20" />
    </div>
</div>

<style>
    
    div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    background-color: rgb(14, 14, 43);
    height: 10rem;
    width: auto;
    padding: 1rem;
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 1, 10, 0.103) 0%, rgb(0, 0, 0) 20%, rgba(0,0,0,1) 80%, rgba(16, 9, 58, 0.144) 100%);
    overflow: hidden; /* Evita que el contenido salga del div */
    position: relative; 
}



.contenedor {
    display: flex; /* Para permitir el desplazamiento del contenido */
    position: absolute; /* Permite el movimiento hacia la izquierda */
    animation: move-left 100s linear infinite; /* Ajusta la duración según necesites */
}

@keyframes move-left {
    0% {
        transform: translateX(0); /* Comienza en el inicio */
    }
    100% {
        transform: translateX(-100%)
    }
}




.Html:hover {
    filter: drop-shadow(0 0 10px orange); /* Naranja para HTML */
}

.Css:hover {
    filter: drop-shadow(0 0 10px lightblue); /* Celeste para CSS */
}

.Js:hover {
    filter: drop-shadow(0 0 10px yellow); /* Ejemplo: amarillo para JS */
}

.React:hover {
    filter: drop-shadow(0 0 10px #61dafb); /* Azul React */
}

.Tailwind:hover {
    filter: drop-shadow(0 0 10px #06b6d4); /* Aqua para Tailwind */
}

.Astroicono:hover {
    filter: drop-shadow(0 0 10px #ffffff); /* Naranja para Astro */
}

.Git:hover {
    filter: drop-shadow(0 0 10px #f05032); /* Rojo para Git */
}

.Figmaicono:hover {
    filter: drop-shadow(0 0 10px #ee9851); /* Naranja para Figma */
}

.Bostrap:hover {
    filter: drop-shadow(0 0 10px #9f73e2); /* Púrpura para Bootstrap */
}

.Sql:hover {
    filter: drop-shadow(0 0 10px #777ff0); /* Naranja para SQL */
}
    
    
</style>