---
    const {parrafo_one, parrafo_two, parrafo_three} = Astro.props;
---

<div>
    <p>{parrafo_one}</p>
    <p>{parrafo_two}</p>
    <p>{parrafo_three}</p>
</div>

<style>
    p{
        margin: 0 0 1rem 0;
    }
</style>